
    body {
        background-color: #EAF6F6;  
    }

    hr {
        background-color: #EAF6F6;
        border-color: black;
        border-width: 5px;
        border-bottom-style: none;
        border-left-style: none;
        border-right-style: none;
        border-top-style: dotted;
        height: 0px;
        width: 5%;
    }
    h1, h3{
        color: #66BFBF;
    }
